<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phone.funoutdoors">

    <!-- 集成ShareSDK -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 集成百度地图 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 调用系统相机进行自定义拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.Camera.autofocus" />
    <!-- 申请震动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 集成shareSDK配置 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="qianfeng.com.shopping.adapter.ToolBarAdapter" />
            <!-- tencent后面的appid要保持和您配置的QQ的appid一致 -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 百度地图集成 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="7GnCkphgTABVVxlWFP7SyHutwwCXEr6E" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.HomePage_BannerActivity" />
        <activity android:name=".activity.HomePage_SearchActivity" />
        <activity android:name=".activity.HomePage_SceneActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <!-- 趣户外服务协议 -->
        <activity android:name=".activity.ServerAgreementActivity" />
        <!-- 认证Activity -->
        <activity android:name=".activity.MinePage_CertificateActivity" />
        <!-- 实名认证Activity -->
        <activity android:name=".activity.MinePage_CertificateInfoActivity" />
        <activity android:name=".activity.MinePage_MessageActivity" />
        <activity android:name=".activity.MinePage_MessageInfoActivity" />
        <activity android:name=".activity.MinePage_SettingActivity" />
        <activity android:name=".activity.MinePage_BannerActivity" />
        <activity android:name=".activity.HomePage_Scene_MoreActivity" />
        <activity android:name=".activity.HomePage_QuboActivity" />
        <activity android:name=".activity.HomePage_Scene_MapActivity" />
        <activity
            android:name=".activity.HomePage_Qubo_VideoPalyActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.MinePage_EditPersonActivity" />
        <activity android:name=".activity.HomePage_More_SceneActivity" />
        <activity android:name=".activity.HomePage_More_QuboActivity" />
        <activity android:name=".activity.HomePage_Search_ItemActivity" />
        <activity android:name=".activity.Guest_More_DaRenActivity" />
        <activity android:name=".activity.Guest_DaRen_InfoActivity" />
        <activity
            android:name=".vr.SimpleVrVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".vr.SimpleVrPanoramaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activity.OfflineActivity" />
        <activity android:name=".activity.OfflineMapManagerActivity" />
        <activity android:name=".activity.GuestPagePromotionActivity" />
        <activity android:name=".activity.GuestPageGuideMoreActivity" />
        <activity android:name=".activity.GuestGuideDetailActivity" />
        <activity android:name=".activity.MinePageQRActivity" />
        <activity android:name=".activity.CityActivity" />
    </application>

</manifest>